.tags {
  margin: 5px;
}

.tag {
  font-size: small;
  color: #214933;
  border-radius: 10px;
  background: #6ae6a2;
  padding: 4px;
}

.talk {
  margin-bottom: 15px;
}

.talk-detail {
  font-size: medium;
}

.foo {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.talk-title {
  font-weight: bold;
  font-size: large;
}

.post-title {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.site-title {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.trigger a.page-link {
  color: white;
  border-radius: 15px;
  text-decoration: none;
  padding: 5px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.trigger a.page-link:hover {
  background-color: #5982c7;

}

.trigger a.page-link.selected {
  background-color: white;
  color: hsl(217, 50%, 44%);
}


header.site-header {
  background-color: hsl(217, 50%, 44%); /*#e7e9f7;*/
  border-bottom-color: #5982c7; /*#d3d3f5;*/
  border-top-width: 0px;
  border-bottom-width: 5px;
}

footer.site-footer {
  background-color: hsl(217, 50%, 44%); /*#e7e9f7;*/
  border-top-color: #5982c7; /*#d3d3f5;*/
  border-bottom-width: 0px;
  border-top-width: 5px;
}

span.image-crop {
  width: 70px;
  height: 70px;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  border-width: 10px;
  border-color: #5982c7;
}

.image-crop img {
  display: inline;
  margin: 0 auto;
  height: 115%;
  width: auto;
  object-fit: fill; 
  object-position: 0px -7px;
}

.site-title-text {
  margin-left: 80px;
  text-decoration: none;
  color:white;
}

.contact-links {
  padding-left: 50px;
}

.contact-links img {
  padding: 7px;
}

h1.post-title {
  font-size: 2em;
}

h2.post-title {
  font-size: 2em;
}

.contact-links a {
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 8px;

}

.contact-links a:hover {
  background-color: #5982c7;

}